@{
  Layout = "_Layout";
}
@using BeastRescueClient.Models

<h1>Our Beast Friends:</h1>

<div class="gridContainer">
@foreach (Beast beast in Model)
{
  <div class="gridItem">
    <a href="/Beasts/Details/@(beast.BeastId)"><img class="portraitSmall" src="@beast.Photo" width="300px"/><br />
    <p><span class="hullo">Meet @beast.Name</span></p></a>
    <br>
  </div>
}
</div>