<div id="navBar">
  <div class="column">
    <a href="/">Home</a>
  </div>

  <div class="column">
    <a href="/Beasts">See All Beasts</a>
  </div>

  <div class="column">
    <a href="/TBD">TBD</a>
  </div>

  <div class="column">
    <a href="/TDB">TBD</a>
  </div>
  
</div>